<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Welcome to MinShop</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100'
          rel='stylesheet' type='text/css'>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen"/>
    <link th:href="@{/css/sequence-looptheme.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->

    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <link th:href="@{/css/addToCart.css}" rel="stylesheet">

</head>
<body>
<div class="wrapper">
    <th:block th:include="_header"></th:block>
    <div class="clearfix">
    </div>
    <div class="container wrapper">
        <div id="shipping" class="panel panel-default" style="background-color: snow">
            <div class="panel-body"><strong>PRODUCT CART</strong></div>
        </div>
        <div class="row cart-head">
            <div class="container">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div style="display: table; margin: auto;">
                        <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span
                                class="step_line step_complete"> </span> <span
                                class="step_line backline"> </span> </span>
                        <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span
                                class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                        <span class="step_thankyou check-bc step_complete">Thank you</span>
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                <th:block
                        th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
                    <th:block th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                                                         class="img-responsive"/></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin" th:utext="${cartLineInfo.product.name}">Product 1</h4>
                                        <p th:utext="${cartLineInfo.product.description}">Quis aute iure reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat
                                            nulla pariatur. Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price"><span th:utext="${cartLineInfo.product.price}"></span>€</td>
                            <td data-th="Quantity" class="text-center" >
                                <input type="number" class="form-control text-center" th:id="'product-quantity-'+${cartLineInfo.product.id}" th:value="${cartLineInfo.quantity}">
                            </td>
                            <td data-th="Subtotal" class="text-center"><span th:utext="${cartLineInfo.amount}"></span>€
                            </td>
                            <td class="actions" data-th="">
                                <button class="btn btn-info btn-sm" th:onclick="'updateCartProductQuantity('+${cartLineInfo.product.id}+')'"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-danger btn-sm" th:onclick="'removeCartProduct('+${cartLineInfo.product.id}+')'"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
                    <tr>
                    <strong>There is no items in Cart</strong>
                    <a th:href="@{/}" class="btn btn-warning">Go shopping</a>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr class="visible-xs">
                    <td class="text-center" th:text="${cartForm.amount}"><strong>Total 1.99</strong></td>
                </tr>
                <tr>
                    <td><a th:href="@{/}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue
                        Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total <span th:text="${cartForm.amount}"></span>€</strong></td>
                    <td><a href="#shipping" class="btn btn-success btn-block" onclick="goToShipping()">Continue <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="container wrapper">
        <div id="shipping" class="panel panel-default" style="background-color: snow">
            <div class="panel-body"><strong>SHIPPING & PAYMENT</strong></div>
        </div>
        <div id="payment-shipping" class="row cart-body"  >
            <form th:object="${shippingAddressForm}" method="post" th:action="@{/shop/shoppingCartConfirmation}">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <!--SHIPPING METHOD-->
                    <div class="panel panel-info">
                        <div class="panel-heading">Shipping Address</div>
                        <th:block sec:authorize="!isAuthenticated()">
                            <a style="background-color: lavender;height: 50%" class="btn btn-lg btn-primary btn-block" th:href="@{/shop/authorizedShoppingCart}"><i class="fa fa-sign-in"></i> Fill address by login</a>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <a style="background-color: lavender" class="btn btn-lg btn-primary btn-block" th:href="@{/accountInfo}" th:utext="${'Hello ' + #request.userPrincipal.name}"></a>
                        </th:block>
                        <div class="panel-body" >
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input type="text" name="first_name" class="form-control" value="" th:field="*{firstname}"/>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">..</span>
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input type="text" name="last_name" class="form-control" value="" th:field="*{lastname}"/>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">..</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Address:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="address" class="form-control" value="" th:field="*{address}"/>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>City:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="city" class="form-control" value="" th:field="*{city}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="zip_code" class="form-control" value="" th:field="*{postalCode}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <div class="col-md-12"><input type="text" name="phone_number" class="form-control"
                                                              value="" th:field="*{phone}"/></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                <div class="col-md-12"><input type="text" name="email_address" class="form-control"
                                                              value="" th:field="*{email}"/></div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-12">-->
                                <!--<button type="summit" value="save address" th:onclick="'saveCustomAddress()'">SAVE</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Shipping options
                        </div>
                        <div class="panel-body">
                            <th:block th:each="option: ${shippingMethodList}">
                                <div class="form-check">
                                    <input type="radio"
                                           th:field="*{shippingMethod}"
                                           th:value="${option}" />
                                    <label
                                            th:for="${#ids.prev('shippingMethod')}"
                                            th:text="${option}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Payment options
                        </div>
                        <div class="panel-body">
                            <th:block th:each="option: ${paymentMethodList}">
                                <div class="form-check">
                                    <input type="radio"
                                           th:field="*{paymentMethod}"
                                           th:value="${option}" />
                                    <label
                                            th:for="${#ids.prev('paymentMethod')}"
                                            th:text="${option}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!--REVIEW ORDER END-->
                </div>
                <div class="btn-group btn-group-lg right">
                    <button type="submit" class="btn btn-primary">Send order</button>
                </div>
            </form>
        </div>
        <div class="row cart-footer">

        </div>
    </div>
    <div class="clearfix">
    </div>
    <th:block th:include="_footer"></th:block>
</div>
<!-- Bootstrap core JavaScript==================================================-->
<script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}">
</script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}">
</script>
<script defer th:src="@{/js/jquery.flexslider.js}">
</script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}">
</script>
<script type="text/javascript" th:src="@{/js/script.min.js}">
</script>
<script type="text/javascript" th:src="@{/js/minshop.js}">
</script>
</body>
</html>