.popupunder{
    width: 300px;
    position:fixed;
    top: 0%;
    right: 0%;
    z-index: 10;
    border: 0;
    padding: 20px;
    font-size: 15px;
}
.popupunder.alert-success{
    border: 1px solid #198b49;
    background:#27AE60;
    color:#fff;
}
.popupunder .close{
    font-size: 80px;
    position:absolute !important;
    right: 2px;
    top: 3px;
}